*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.container-modificado{
    width: 800px;
}

.form-select{
    border: 1px solid black !important;
}

#btn-voltar a,
#btn-proximo a{
    text-decoration: none !important;
    color: white;
}

.botoes-modificada{
    padding-bottom: 250px;
}